<ng-container
  *ngIf="{
    drill: displayDrill$ | async,
    drillLength: drillLength$ | async,
    drillIndex: drillIndex$ | async
  } as meta"
>
  <ng-container
    *ngIf="meta.drill && meta.drillLength !== null && meta.drillIndex !== null"
  >
    <app-screen
      [drill]="meta.drill"
      [activeDrillIndex]="meta.drillIndex"
      [drillLength]="meta.drillLength"
      [(input)]="userInput"
      (inputChange)="onUserInput($event)"
    ></app-screen>
  </ng-container>
</ng-container>
<div class="flex justify-center pt-2">
  <app-palm
    *ngIf="fingerIndex$ | async as fingerIndex"
    mode="left"
    [activeFingerIndex]="fingerIndex"
  ></app-palm>
  <app-keyboard
    class="mx-2"
    *ngIf="keyboardKey$ | async | lowercase as keyboardKey"
    [activeChar]="keyboardKey"
  ></app-keyboard>
  <app-palm
    *ngIf="fingerIndex$ | async as fingerIndex"
    mode="right"
    [activeFingerIndex]="fingerIndex"
  ></app-palm>
</div>
