<div class="bg-green-300 p-1 grid grid-cols-1">
  <div class="bg-white h-20 max-h-20 overflow-y-auto p-2">
    <p class="font-mono" [innerHTML]="drill"></p>
  </div>
  <div
    class="text-center"
    *ngIf="activeDrillIndex !== null && drillLength !== null"
  >
    <p>{{ activeDrillIndex + 1 + "/" + drillLength }}</p>
  </div>
  <div class="bg-white">
    <textarea
      autofocus
      [value]="input"
      class="font-mono focus:outline-none w-full h-20 p-2"
      (input)="onUserInput($event)"
    >
    </textarea>
  </div>
</div>
